
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="~/Home/Create" method="post">
    <label>EmpName</label>
    <input type="text" name="EmpName" class="form-control" /><br>
    <label>EmpSalary</label>
    <input type="text" name="EmpSalary" class="form-control" /><br>
    <input type="submit" value="Save"  class="btn btn-success"/>
</form>