
@{
    ViewBag.Title = "AccessEmployeeJsonData";
}

<h2>AccessEmployeeJsonData</h2>

<table id="example" class="table table-bordered table-striped">
    <tr>
        <th>EmpId</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
</table>


<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script>
    $.ajax({

        url: "http://localhost:55434/new/GetJEmployeeJsonData",
        type: "GET",
        datatype: "JSON",
        success: function (result) {
            $.each(result, function (i,key) {
                $('#example tr:last')
          .after("<tr><td>" + key.EmpId + "</td><td>" + key.EmpName + "</td><td>" + key.EmpSalary + "</td></tr>")

            })
        }


    })
</script>